<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book Now
      </button>
    </div>
  </div>
  <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
    <h1 class="mat-headline">
      Hotel Beach
    </h1>
  </div>
</div>

<section class="home-section">
  <div fxLayout="coulumn" fxLayoutAlign="center center">
    <div>
      <h2 class="mat-subheading-2"> HOTEL MAHAL </h2>
    </div>
    <div>
      <h3 class="mat-subheading-3">
        Asia Tenggara
      </h3>
    </div>
  </div>

  <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutAlign="center center">
    <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Rooms &amp; Suites</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Rooms &amp; Suites</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

